
div.uploader {
	background-color: #FAFAFA ;
	border: 1px solid #CCCCCC ;
	height: 100px ;
	width: 476px ;
}

div.uploader a {
	display: block ;
	height: 100px ;
	line-height: 100px ;
	text-align: center ;
}

ul.uploads {
	list-style-type: none ;
	margin: 16px 0px 16px 0px ;
	padding: 0px 0px 0px 0px ;
	width: 486px ;
}

ul.uploads:after {
	clear: both ;
	content: "" ;
	display: block ;
	height: 0px ;
}

ul.uploads li {
	background-color: #FAFAFA ;
	border: 1px solid #CCCCCC ;
	border-radius: 3px 3px 3px 3px ;
	float: left ;
	height: 150px ;
	margin: 10px 10px 0px 0px ;
	width: 150px ;
}

ul.uploads img {
	border-radius: 3px 3px 3px 3px ;
	display: block ;
	margin: 0px auto 0px auto ;
	max-height: 150px ;
	max-width: 150px ;
}